[submodule "mix.core"]
	path = mix.core
	url = https://github.com/mixcore/mix.core
[submodule "mix.heart"]
	path = mix.heart
	url = https://github.com/mixcore/mix.heart
[submodule "mix.spa.portal"]
	path = mix.spa.portal
	url = https://github.com/mixcore/mix.spa.portal
[submodule "mix.lib.ts"]
	path = mix.lib.ts
	url = https://github.com/mixcore/mix.lib.ts
[submodule "mix.portal.angular-io"]
	path = mix.portal.angular-io
	url = https://github.com/mixcore/mix.portal.angular-io
[submodule "mix.portal.svelte"]
	path = mix.portal.svelte
	url = https://github.com/mixcore/mix.portal.svelte
