[submodule "docs"]
	path = docs
	url = git@github.com:mixcore/docs.git
[submodule "mix.portal.svelte"]
	path = mix.portal.svelte
	url = git@github.com:mixcore/mix.portal.svelte
[submodule "mix.portal.angular-io"]
	path = mix.portal.angular-io
	url = git@github.com:mixcore/mix.portal.angular-io
[submodule "mix.core"]
	path = mix.core
	url = git@github.com:mixcore/mix.core
[submodule "mix.lib.ts"]
	path = mix.lib.ts
	url = git@github.com:mixcore/mix.lib.ts
[submodule "mix.heart"]
	path = mix.heart
	url = git@github.com:mixcore/mix.heart
